body {
	background: url('../images/Background.jpg') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.sub-style{
	margin-bottom: 20px;
}
.brand-heading,
.havbar-address{
	display: none;
}
.box {
    margin-bottom: 10px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}
.small-box{
	margin-bottom: 10px;
	padding: 5px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.heading-text{
	text-transform: uppercase;
	font-size: 1.05em;
	letter-spacing: 2px;
}
@media screen and (min-width:768px) {
    .brand-heading {
        display: inherit;
        margin: 0;
        padding: 5px 30px 5px 30px;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        line-height: normal;
        color: #000;
    }

    .havbar-address{
		display: inherit;
		text-align: center;
		padding: 0px 10px 10px 10px;
		font-size: 1em;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: none;
		background: rgba(255,255,255,0);
    }

    .nav>li>a {
        padding: 13px;
        background: #ddd;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.02em;
        text-transform: uppercase;
    }
}
@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
	.small-box:after {
		content: '';
		display: table;
		clear: both;
    }
}

label.error{
	color: red;
}

.btn-cat-modify-style{
	width: 75px;
	height: auto;
}


.centered {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}